<!DOCTYPE html>
<html lang="en">

  <head>

    <%include header%>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/fullcontact">fullcontact api</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

      <header class="masthead" style="background-image: url('assets/image/api.gif')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Stack of API </h1>
              <h2>Play with api's and explore api's</h2>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="/fullcontact">
              <h2 class="post-title">
                Fullcontact api
              </h2>
              <h3 class="post-subtitle">
                Get informaton of a person from person's Email address.
              </h3>
            </a>

          </div>
        </div>
      </div>
    </div>



    <%include footer%>


  </body>

</html>
