<!DOCTYPE html>
<html>
<head>
<% include  header%>
<style>
.text{
margin: 250px;
}
</style>
</head>
<body>
  <h1 class="text" >OOps,Sorry we couldn't find  this email address</h1>
<a   href="/">
  Go back and try different email address(example. bart@fullcontact.com)
</a>
</body>
</html>
